/* ----------------------------------------------------------------

	404.scss

-----------------------------------------------------------------*/
#error-404 {
    position: relative;
    p {
        font-size: 3rem;
        font-weight: 300;
        color: $white;
    }

    h2 {
        font-family: $heading-font;
        font-weight: 700;
        color: $white;
    }
}