
/* ----------------------------------------------------------------

	extras.scss

-----------------------------------------------------------------*/


/* ----------------------------------------------------------------
	Extra Styles
-----------------------------------------------------------------*/
.leaf-icon, .leaf-icon-white {
	background-size: 100%;
	background-repeat: no-repeat;
	display: inline-block;
	width: 2.5625rem;
	height: 2.5625rem;
}

.leaf-icon {
	background-image: url(../images/icons/leaf.png);
}

.leaf-icon-white {
	background-image: url(../images/icons/leaf-white.png);
}

.shipping-banner {
	position: absolute;
	left: 4.375rem;
	top: 5.625rem;	
}

.container-fluid {
	overflow: hidden;
}

.about-us-link {
	a {
		padding: 0.5rem 4rem;
		background-color: $theme-color;
		color: white;
		font-size: .75rem;
		border-radius: 2rem;
		display: inline-block;
	}

	@include media-breakpoint-down(sm) {
		margin-bottom: 1rem;
	}
}


.about-content {
	h3 {
		font-size: 2.25rem;
	}

	p {
		font-size: 0.75rem;
		color: #9c9c9f;
		line-height: 1.3rem;
	}

	@include media-breakpoint-down(lg) {
		margin-top: 1rem;
	}
}

.carousel-indicator {
	margin-top: 4rem;

	li {
		list-style: none;
		padding: 0rem;

		i {
			font-size: 0.5rem;
			color: #d6d7d8;
		}
	}

	@include media-breakpoint-down(sm) {
		margin-top: 2rem;
	}
}

.sale-banner {
	padding: 2rem;

	i {
		font-size: 1.5rem;
	}

	p {
		color: #929699;
		line-height: 1.2rem;
	}

	@include media-breakpoint-down(lg) {
		padding: 1rem;
	}
}