
/* ----------------------------------------------------------------

	pagetitle.scss

-----------------------------------------------------------------*/


/* ----------------------------------------------------------------
	Page Title
-----------------------------------------------------------------*/


/* ----------------------------------------------------------------
	Add here styles for page title. Thanks!
-----------------------------------------------------------------*/

#page-title {
	.title {
		line-height: 1.25;
		font-weight: 700;
		color: $white;
	}

	.sub-title {
		font-family: $heading-font;
		font-weight: 300;
		color: $white;
	}

	a {
		font-family: $heading-font;
		color: $white;
		font-weight: 700;
	}
}