
/* ----------------------------------------------------------------

	pagetitle.scss

-----------------------------------------------------------------*/


/* ----------------------------------------------------------------
	Page Title
-----------------------------------------------------------------*/


/* ----------------------------------------------------------------
	Add here styles for page title. Thanks!
-----------------------------------------------------------------*/

#page-title {
	position: absolute;
	height: 100%;
	top: 0;
	right: 0;
	left: 0;

	.title {
		font-family: $heading-font;
		line-height: 1.25;
		font-weight: 700;
		color: $white;
	}

	.sub-title {
		font-family: $heading-font;
		font-weight: 300;
		color: $white;
	}

	a {
		font-family: $heading-font;
		text-decoration: none;
		font-size: 1rem;
		color: $white;
		font-weight: 700;
	}
}

.page-brand {
	position: absolute;
    top: 0rem;
    right: -5rem;

	@include media-breakpoint-down(lg) {
		top: -1rem;
    	right: -4rem;
	}

	@include media-breakpoint-down(sm) {
		top: -1rem;
    	right: -1rem;
	}
}