
/*-----------------------------------------------------------------------------------

	Shortcodes: feature-box.scss

-----------------------------------------------------------------------------------*/

/* ----------------------------------------------------------------
	Featured Boxes
-----------------------------------------------------------------*/
.fbox {
	margin-bottom: 1.875rem;

	p {	
		font-family: $heading-font;
		color: #9e9df4;
		line-height: 1.7;
	}
}