
/*-----------------------------------------------------------------------------------

	Shortcodes: headings.scss

-----------------------------------------------------------------------------------*/

/* ----------------------------------------------------------------
	Heading Styles
-----------------------------------------------------------------*/


/* Heading Block - with Subtitle
-----------------------------------------------------------------*/

.heading-block { 
	margin-bottom: 2rem; 
	position: relative;

	.title {
		font-family: $heading-font;
		font-weight: 700;
	}

	.sub-title {
		font-size: 1.125rem;
		color:#acaeaf;
		line-height: 1.5rem;
	}

	p {
		font-size: 1.0625rem;
		color: $secondary;
		line-height: 2rem;
	}
}